argparse==1.4.0
fastapi==0.110.0
pyaudio==0.2.14
accelerate==0.28.0
torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1
redis==5.0.3
uvicorn==0.29.0
transformers==4.38.2
datasets==2.18.0
soundfile==0.12.1
appdirs==1.4.4
SoundFile==0.12.1
librosa==0.10.1
